<!--
Layout/CSS Source: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
-->

<style>
  html * {
    font-family: Tahoma !important;
  }

  /* The sidebar menu */
  .sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(53, 78, 90);
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* The sidebar menu */
  .topbar {
    height: 80px;
    /* Full-height: remove this if you want "auto" height */
    width: 100%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: -1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(192, 193, 194);
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    border: hidden;
    border-width: 1px;
    border-radius: 1px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
  }

  .sidenav .spacer {
    border-color: rgb(195, 206, 216);
    border-style: solid hidden solid hidden;
    text-align: center;
    margin: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .sidenav .other-elements {}

  .sidenav h3 {
    color: #f1f1f1;
  }

  .sidenav .bottom-elements {
    text-align: center;
    position: relative;
    bottom: 0%;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    border-style: solid;
  }

  /* Style page content */
  .main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  .user-info {
    font-family: Tahoma;
    position: absolute;
    top: 2%;
    right: 5%;
  }

  .message {
    font-family: Tahoma;
    position: absolute;
    top: 8%;
    left: 9%;
  }
</style>


<html>
<div class="topbar">
</div>

<div class="sidenav">
  <div class="spacer">
    <h3>Home</h3>
  </div>

  <div class="other-elements">
    <a href='/enter-lot'>Add Lot</a>
    <a href='/map view'>View Food Map</a>
    <a href='/reports'>Generate Reports</a>
  </div>

  <div class="spacer">
    <h3>Search</h3>
  </div>

  <div class="other-elements">
    <a href='/search-type'>Type</a>
    <a href='/search-lot'>Lot</a>
  </div>

  <div class="spacer">
    <h3>Settings</h3>
  </div>

  <div class="bottom-elements">
    <a href='/user-edit'>Edit Profile </a>
    <a href='/logout'>Logout</a>
  </div>

</div>


<div class="main">
  <h2> Food Waste Prevention Project </h2>
  {{#if message}}
  <h4 class="message">Message: {{message}}</h4>
  {{/if}}
  <h4 class="user-info">Welcome: {{user}}</h4>
</div>


</html>