<!--
Layout/CSS Source: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
-->

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/navbars.css">
</head>


<html>
<div class="topbar">
</div>

<div class="sidenav">
  <div class="spacer">
    <h3>Home</h3>
  </div>

  <div class="other-elements">
    <a href='/enter-lot'>Add Lot</a>
    <a href='/map view'>View Food Map</a>
    <a href='/reports'>Generate Reports</a>
  </div>

  <div class="spacer">
    <h3>Search</h3>
  </div>

  <div class="other-elements">
    <a href='/search-type'>Type</a>
    <a href='/search-lot'>Lot</a>
  </div>

  <div class="spacer">
    <h3>Settings</h3>
  </div>

  <div class="bottom-elements">
    <a href='/user-edit'>Edit Profile </a>
    <a href='/logout'>Logout</a>
  </div>

</div>


<div class="main">
  <h2> Food Waste Prevention Project </h2>
  {{#if message}}
  <h4 class="message">Message: {{message}}</h4>
  {{/if}}
  <h4 class="user-info">Welcome: {{user}}</h4>
</div>


</html>